{% extends "base.html" %}
{% block content %}

<h2>Your History</h2>

{% for r in reports %}

<div class="card">
    <p><strong>Resume Preview:</strong></p>
    <p>{{ r.resume[:200] }}...</p>

    <hr>

    <h3>Skills</h3>
    <ul>
        {% for s in r.result.get("skills", []) %}
        <li>{{ s }}</li>
        {% endfor %}
    </ul>

    <h3>Missing Skills</h3>
    <ul>
        {% for s in r.result.get("missing_skills", []) %}
        <li>{{ s }}</li>
        {% endfor %}
    </ul>

    <h3>Roadmap</h3>

    {% for step in r.result.get("roadmap", []) %}

    <div class="card" style="margin-top:10px; background:#f9fafc;">

        <h4>{{ step.skill }}</h4>

        <p>{{ step.description }}</p>

        <strong>Resources:</strong>
        <ul>
            {% for res in step.resources %}
            <li>{{ res }}</li>
            {% endfor %}
        </ul>

    </div>

    {% endfor %}

    <h3>Interview Questions</h3>
    <ul>
        {% for s in r.result.get("interview_questions", []) %}
        <li>{{ s }}</li>
        {% endfor %}
    </ul>

</div>

{% endfor %}

{% endblock %}